.App {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  justify-content: space-between;
}

.App-logo {
  background-image: url("./Images/logomoveb.png");
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
  background: cover;
  background-size: 15.5rem 15rem;
  width: 15.5rem; 
  height: 15rem;
  border-radius: 15rem;
}

.App-logocomplete {
  background-image: url("./Images/logob.png");
  pointer-events: none;
  background: cover;
  background-size: 35rem 13rem;
  width: 35rem; 
  height: 13rem;
}

.App-header {
  background-color: #0e0e0e02;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
